
.osixes-background {
    background-image: url("imgs/O6_website_HomePage_Final_BackgroundLogo.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-color: #333333;
    position:relative;

}

