.match-data {
    font-size: 1.75rem;
    font-weight:600;
    text-transform: uppercase;
}

.btn-locked-map {
    width:300px;
    height:100px;
}

#match-time {
    font-size: 1.75rem;
}
/* Modal styles */
#lockedMap-Modal h6 {
    margin-top: 20px;
    margin-bottom:20px;
}