
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- jQuery from Google -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/matchterminal.css">
        
        <!-- Latest compiled JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <title>O-Sixes | Match Terminal</title>
    </head>


<body>
    <div id="wrapper">
        <header class="sticky-top bg-light">
            <nav class="navbar navbar-expand-sm navbar-light sticky-top">
                <a class="navbar-brand" href="home.html">O-Sixes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rulebook</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Match Terminal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <div id="body">
            <div class="container d-flex justify-content-between py-3 d-md-none" role="navigation">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownTeamButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teams</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="list-group">
                            <li class="list-group-item border-0 disabled">You're not on a team yet</li>
                        </ul>
                    </div>
                </div>
                <a class="btn btn-primary btn-inline" href="leagues.html" type="button" role="button" title="Go to Leagues page">Find a League</a>
            </div>
            <div class="row">
                    <div class="col-md-3 d-none d-md-block">
                        <div class="side-bar container">
                            <h1 class="display-4">Teams</h1>
                            <ul class="list-group">
                                <li class="list-group-item border-0 disabled">You're not on a team yet</li>
                            </ul>
                            <a class="btn btn-primary btn-block" href="leagues.html" type="button" role="button" title="Go to Leagues page">Find a League</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="main container">
                            <h1>Match Terminal</h1>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="match-data">
                                    <span id="teamA-name">Team A</span> vs. <span id="teamB-name">Team B</span>
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <span id="match-time">8:00PM</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-uppercase">Match tag: <span class="font-weight-bold text-uppercase">wed-1400-teatea</span></p>
                                </div>
                            </div>
                            <!--
                            <aside class="bg-light pl-3 py-1">
                                <h2>Preparing for your match</h2>
                                <dl class="list-group">
                                    <div class="list-group-item border-0 bg-transparent">
                                        <dt>Lock the map of your choice</dt>
                                        <dd>Each team selects one map to play. Once the map is <i>locked in</i>, it <strong>cannot be changed</strong>.</dd>
                                    </div>
                                    <div class="list-group-item border-0 bg-transparent">
                                        <dt>Ban maps</dt>
                                        <dd>Team captains will take turns banning maps until one map remains.</dd>
                                    </div>
                                </dl>
                            </aside>
                            -->
                            <section>
                                <div>
                                    <h2>Lock In Home Map</h2>
                                    <p>Select one map to lock in as your <i>home map</i>.  Once the map is locked in, it cannot be changed.</p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 map-select mx-auto mx-lg-0">

                                        <h3 id="teamA-header">Team A <span class="small badge badge-pill badge-warning">Not yet locked</span></h3>
                                        <button type="button" class="btn btn-locked-map text-capitalize" id="teamA-locked-map" 
                                                data-toggle="modal" data-target="#lockedMap-Modal">
                                            Hanamura
                                        </button>

                                    </div>
                                    <!-- Team B is always the opposing team, therefore this data is not modifiable-->
                                    <div class="col-lg-6 map-select mx-auto mx-lg-0">
                                        <h3 id="teamB-header">Team B <span class="small badge badge-pill badge-warning">Not yet locked</span></h3>
                                        <button type="button" class="btn btn-locked-map text-capitalize" id="teamB-locked-map">Volskaya Industries</button>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <h2>Ban Maps</h2>
                                <p>Take turns banning maps with the opposing team captain. The last map remaining will be the third map of the match.</p>
                            </section>

                        </div>
                    </div>
            </div>
            <!-- "Lock In Home Map" Modal -->
            <div class="modal fade" id="lockedMap-Modal" tabindex="-1" role="dialog" aria-labelledby="lockedMap-Modal" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Lock in a map</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row" data-toggle="buttons">
                                <div class="col-lg-6 mb-lg-5">
                                    <h6>Assault Maps</h6>
                                    <button type="button" class="w3-btn btn-block btn-map-select hanamura" value="hanamura">
                                        <div class="alpha-bg">Hanamura</div>
                                    </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select horizon" value="horizon">
                                        <div class="alpha-bg">Horizon Lunar Colony</div>
                                    </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select anubis" value="anubis">
                                        <div class="alpha-bg">Temple of Anubis</div>
                                            </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select volskaya" value="volskaya">
                                        <div class="alpha-bg">Volskaya Industries</div>
                                            </button>
                                </div>
                                <div class="col-lg-6 mb-lg-5">
                                    <h6>Escort Maps</h6>
                                    <button type="button" class="w3-btn btn-block btn-map-select dorado" value="dorado" >
                                        <div class="alpha-bg">Dorado</div>
                                    </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select junkertown" value="junkertown" >
                                        <div class="alpha-bg">Junkertown</div>
                                    </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select route66" value="route66" >
                                        <div class="alpha-bg">Route 66</div>
                                    </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select watchpoint" value="watchpoint" >
                                        <div class="alpha-bg">Watchpoint: Gibraltar</div>
                                    </button>
                                </div>
                                <div class="col-lg-6 mb-lg-5">
                                    <h6>Assault/Escort Maps</h6>
                                    <button type="button" class="w3-btn btn-block btn-map-select eichenwalde" value="eichenwalde">
                                        <div class="alpha-bg">Eichenwalde</div>
                                    </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select hollywood" value="hollywood" >
                                        <div class="alpha-bg">Hollywood</div>
                                    </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select kings" value="kings">
                                        <div class="alpha-bg">King's Row</div>
                                    </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select numbani" value="numbani">
                                        <div class="alpha-bg">Numbani</div>
                                    </button>
                                </div>
                                <div class="col-lg-6 mb-lg-5">
                                    <h6>Control Point Maps</h6>
                                    <button type="button" class="w3-btn btn-block btn-map-select ilios" value="ilios" >
                                        <div class="alpha-bg">Ilios</div>
                                    </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select lijiang" value="lijiang" >
                                        <div class="alpha-bg">Lijiang Tower</div>
                                    </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select nepal" value="nepal" >
                                        <div class="alpha-bg">Nepal</div>
                                    </button>
                                    <button type="button" class="w3-btn btn-block btn-map-select oasis" value="oasis" >
                                        <div class="alpha-bg">Oasis</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <p id="map-select-error" class="d-none">No map has been selected</p>
                            <button type="button" class="btn btn-primary" onclick="lockInMap()" data-dismiss="modal">Lock In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <footer class="mt-3 px-3 py-3 d-block bg-dark text-light" role="contentinfo">
            <p class="text-center small">Blizzard Entertainment is a trademark or registered trademark of Blizzard Entertainment, Inc., in the U.S. and/or other countries.</p>
            <p class="text-center small">Overwatch is a trademark of Blizzard Entertainment, Inc., in the U.S. and/or other countries.</p>
        </footer>
    </div>
    <script src="js/matchterminal.js"></script>
</body> 

</html>
