.match-data {
    font-size: 1.75rem;
    font-weight:600;
    text-transform: uppercase;
}

.btn-locked-map {
    width:300px;
    height:100px;
}

.map-select {
    max-width:400px;
    display: block;
}

#match-time {
    font-size: 1.75rem;
}

/* Modal styles */
.btn-map-select, .btn-map-ban {
    height: 5rem;
    padding: 0 0;
}


#lockedMap-Modal h6 {
    margin-top: 20px;
    margin-bottom:20px;
}

/* Map select button images */
.alpha-bg {
    background: rgba(169, 169, 169,0.5);
    height:100%;
    line-height:5rem;
    color:azure;
    font-weight:400;
    font-size:1.3rem;
}

.map-selected {
    border-color:red;
    border: 5px;
}

.hanamura {
    background:url("../images/matchterminal/hanamura-468.png");
    background-size:cover;
}
.horizon {
    background-image:url("../images/matchterminal/horizon-468.png");
    background-size:cover;
}
.anubis {
    background-image:url("../images/matchterminal/anubis-468.png");
    background-size:cover;
}
.volskaya {
    background-image:url("../images/matchterminal/volskaya-468.png");
    background-size:cover;
}
.dorado {
    background-image:url("../images/matchterminal/dorado-468.png");
    background-size:cover;
}
.junkertown {
    background-image:url("../images/matchterminal/junkertown-468.png");
    background-size:cover;
}
.route66 {
    background-image:url("../images/matchterminal/route66-468.png");
    background-size:cover;
}
.watchpoint {
    background-image:url("../images/matchterminal/watchpoint-468.png");
    background-size:cover;
}
.eichenwalde {
    background-image:url("../images/matchterminal/eichenwalde-468.png");
    background-size:cover;
}
.hollywood {
    background-image:url("../images/matchterminal/hollywood-468.png");
    background-size:cover;
}
.kings {
    background-image:url("../images/matchterminal/kings-468.png");
    background-size:cover;
}
.numbani {
    background-image:url("../images/matchterminal/numbani-468.png");
    background-size:cover;
}
.ilios {
    background-image:url("../images/matchterminal/ilios-468.png");
    background-size:cover;
}
.lijiang {
    background-image:url("../images/matchterminal/lijiang-468.png");
    background-size:cover;
}
.nepal {
    background-image:url("../images/matchterminal/nepal-468.png");
    background-size:cover;
}
.oasis {
    background-image:url("../images/matchterminal/oasis-468.png");
    background-size:cover;
}
